<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5><i class="pi pi-users text-xl mr-2"></i>Manage Staff</h5>
            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">     
                <ng-template pTemplate="left">                
                    <div class="my-2">
                        <button pButton pRipple label="Add New" icon="pi pi-users" class="p-button-success mr-2"
                        (click)="openNew()"></button>

                            <button pButton pRipple label="Block" icon="pi pi-exclamation-triangle" class="p-button-warning mr-2"
                            (click)="openNew()"  [disabled]="!selectedProducts || !selectedProducts.length"></button>

                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedProducts()"
                            [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">List of Staff</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>

                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>
                            ID
                        </th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Profile</th>
                        <th pSortableColumn="category">Mobile <p-sortIcon field="category"></p-sortIcon>
                        </th>

                        <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">Action <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>

                        <td>
                            1
                        </td>

                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100"
                                class="shadow-4" />
                        </td>

                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <span>+92 306 33 50087</span>
                        </td>

                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}
                            </span>
                        </td>

                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Staff Details" [modal]="true"
        class="p-fluid">

        <ng-template pTemplate="content">                

        <p-tabView orientation="left">
            <p-tabPanel header="Staff Details" class="line-height-3 m-0">

                <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.image" width="150"
                class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="product.image">
            <div class="field">
                <label for="name">Name</label>
                <input type="text" pInputText id="name" [(ngModel)]="product.name" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !product.name}" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && !product.name">Name is required.</small>
            </div>
            <div class="field">
                <label for="description">Email</label>
                <input type="text" pInputText id="email" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
            </div>

            <div class="field">
                <label for="description">Mobile</label>
                <input type="text" pInputText id="email" required autofocus
                [ngClass]="{'ng-invalid ng-dirty' : submitted}" />
            </div>

            <div class="field">
                <label for="address">Address</label>
                <textarea id="address" pInputTextarea [(ngModel)]="product.description" required rows="3"
                    cols="20"></textarea>
            </div>

            <label for="profile">Upload Prodfile</label>
            <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
                accept="image/*" maxFileSize="1000000">
                <ng-template pTemplate="files">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
            <br />
            </p-tabPanel>                

            <p-tabPanel header="Add Rights/Priviledges" class="line-height-3 m-0">
                      
            <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-12">                
                    <p-checkbox name="agreement" value="agreement" [(ngModel)]="valCheck" id="agreement" label="Can see sub-contractors' qualifications">
                    </p-checkbox>                   
                </div>

                <div class="field col-12 md:col-12">
                     <p-checkbox name="agreement" value="agreement" [(ngModel)]="valCheck" id="agreement" label="Can see sub-contractor details">
                    </p-checkbox>     
                </div>
                <div class="field col-12 md:col-12">
                    <p-checkbox name="agreement" value="agreement" [(ngModel)]="valCheck" id="agreement" label="Hide subcontractor data with some staff">
                    </p-checkbox>     
                </div>              
               
            </div>
            </p-tabPanel>
        </p-tabView>                   
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="saveProduct()"></button>
        </ng-template>
    </p-dialog>
    
    </div>
</div>