<div class="grid">
    <div class="col-12">

        <div class="card">
            <h5>Bid Details</h5>

            <div class="col-12 md:col-12">
                <div class="card m-1 border-1 surface-border">
                    <div class="flex align-items-center justify-content-between">
                        <div class="flex align-items-center">
                            <i class="pi pi-compass mr-2 text-orange-500"></i>

                            <span class="font-semibold text-orange-500">Postal Code: SO15 2GB</span>
                        </div>
                        <span class=" font-semibold text-orange-500 "><i class="pi pi-calendar mr-1"></i> Created Date:
                            6-6-2022</span>

                    </div>
                    <div class="text-left">

                        <div class="text-2xl font-bold">Wireless Home Network Setup - B079Y8GCPH</div>
                        <div class="mb-3">Product Description</div>

                    </div>
                    <div class="flex align-items-center justify-content-between">
                        <span class="text-2xl font-semibold">Budget: <i class="pi pi-pound text-orange-500"></i>65</span>

                    </div>

                    <p-toolbar styleClass="mb-4 mt-4">

                        <div class="col-12 md:col-5">

                            <div class="flex flex-column justify-content-center align-items-center text-center">
                               

                                <p-table styleClass="p-datatable-gridlines" responsiveLayout="scroll" class="mb-1">
                                    <ng-template pTemplate="header">

                                        <tr>
                                            <th colspan="2" class="align-items-center text-center">
                                                <img src="assets/demo/images/avatar/xuxuefeng.png" alt="Profile img" class="text-center">
                               
                                                <h5 class="text-gray-900 mb-1 text-center">Yasir Hussain</h5>
                                               
                                            </th>
                                        </tr>

                                        <tr>
                                            <th>
                                                <i class="pi pi-compass mr-1 text-orange-500"></i>
                                                <span>76200</span>
                                                
                                            </th>

                                            <th>
                                                <span><i class="pi pi-mobile mr-1 text-orange-500"></i>+92 306 33 500 87</span>
                                                
                                            </th>
                                        </tr>

                                        <tr>
                                            <th colspan="2">
                                                
                                                <h6 class="text-gray-900 mb-1 text-center">
                                                    <i class="pi pi-envelope mr-1 text-orange-500"></i>
                                                    yasir@gmail.com</h6>
                                               
                                            </th>
                                        </tr>

                                        <tr >
                                            <th colspan="2" class="align-items-center text-center">
                                                <p-button *ngIf="!jobComplete"  icon="pi pi-check-circle" label="Accept" (click)="display=true"></p-button>
                                                <p-button *ngIf="jobComplete" icon="pi pi-check" label="Mark as complete" (click)="display=true"></p-button>
                
                                            </th>
                                        </tr>
                                    </ng-template>
                                </p-table>
                                                            
                              
                            </div>

                        </div>

                        <div class="col-12 md:col-7">

                            <p-table styleClass="p-datatable-gridlines" responsiveLayout="scroll">
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th class="text-center"><i class="pi pi-pound text-orange-500 mr-2 "></i>Charges</th>
                                        <th class="text-center"><i class="pi pi-calendar text-orange-500 mr-2 "></i>Date & Time</th>
                                    </tr>

                                    <tr>
                                        <th class="pl-3 text-center">65</th>
                                        <th class="pl-3 text-center">09-08-2022 07:51:05</th>

                                    </tr>

                                    <tr>
                                        <th class="pl-3 text-center">65</th>
                                        <th class="pl-3 text-center">09-08-2022 07:51:05</th>
                                    </tr>

                                    <tr>
                                        <th class="pl-3 text-center">65</th>
                                        <th class="pl-3 text-center">09-08-2022 07:51:05</th>
                                    </tr>


                                </ng-template>

                            </p-table>


                        </div>
                    </p-toolbar>

                
                </div>


            </div>



        </div>
    </div>


</div>