<div class="grid">
    <div class="col-12 lg:col-6 xl:col-8">

        <div class="formgroup-inline card">
            <h5 class="field col-12">Profile Details</h5>

            <div class="field col-4">
                <h6><i class="pi pi-mobile mr-1"></i>Mobile No.</h6>
                <span>+92 306 33 500 87</span>
            </div>

            <div class="field col-4">
                <h6><i class="pi pi-phone mr-1"></i>Landline No.</h6>
                <span>+92 306 33 500 87</span>
            </div>

            <div class="field col-3">
                <h6><i class="pi pi-envelope mr-1"></i>Primary Email</h6>
                <span>yasir@gmail.com</span>
            </div>

            <div class="field col-4">
                <h6><i class="pi pi-envelope mr-1"></i>Secondary Email</h6>
                <span>subcontractor@gmail.com</span>
            </div>

            <div class="field col-4">
                <h6><i class="pi pi-map-marker mr-1"></i>City </h6>
                <span>Dadu</span>
            </div>

            <div class="field col-3">
                <h6><i class="pi pi-map-marker mr-1"></i>Country</h6>
                <span>+92 306 33 500 87</span>
            </div>


            <div class="field col-3">
                <h6><i class="pi pi-compass mr-1"></i>Postal Code</h6>
                <span>76200</span>
            </div>
            <div class="field col-12">
                <h6><i class="pi pi-map mr-1"></i> Address</h6>
                <span>Shahbaz Colony Near DC Office, Dadu, Sindh, PK</span>
            </div>

            <div class="col-12">
                <button pButton pRipple type="button" icon="pi pi-pencil" label="Edit"
                    class="w-full p-button-rounded p-button-outlined mt-2 mr-2 mb-2"
                    (click)="displayDetail=true"></button>
            </div>
        </div>

    </div>

    <div class="col-12 lg:col-6 xl:col-4">
        <div class="card">

            <div class="flex flex-column justify-content-center align-items-center text-center">
                <img src="assets/demo/images/avatar/xuxuefeng.png" alt="Profile img" class="mb-2 mt-2">
                <h4 class="text-gray-900 mb-1">Yasir Hussain</h4>
                <span>yasir@gmail.com</span>
                <button pButton pRipple type="button" icon="pi pi-fw pi-user-edit" label="Edit Profile"
                    class="p-button-rounded p-button-outlined mt-2 mr-2 mb-2" (click)="displayProfile=true"></button>
            </div>

        </div>
    </div>

</div>


<p-dialog header="Update Profile" [(visible)]="displayProfile" modal="modal" showEffect="fade" [style]="{width: '60vw'}"
    [breakpoints]="{'960px': '75vw'}">

    <div class="p-fluid p-formgrid grid mt-2">
        <div class="field col-12 md:col-6">
            <label htmlFor="firstname">Complete Name <span class="mandatory">*</span></label>
            <input pInputText id="firstname" type="text" placeholder="Enter Complete Name*" />
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="email">Old Password<span class="mandatory">*</span></label>
            <input pInputTextarea id="email" type="email" placeholder="Enter Old Password*" />
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="email">New Password<span class="mandatory">*</span></label>
            <input pInputTextarea id="email" type="password" placeholder="Enter New Password*" />
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="email">Confirm Password<span class="mandatory">*</span></label>
            <input pInputTextarea id="email" type="password" placeholder="Enter Confirm Password*" />
        </div>

        <div class="field col-12 md:col-12">
            <h5>Upload Profile Picture</h5>
            <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)" multiple="multiple"
                accept="image/*" maxFileSize="1000000">
                <ng-template pTemplate="content">
                    <ul *ngIf="uploadedFiles.length">
                        <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
                    </ul>
                </ng-template>
            </p-fileUpload>
        </div>

        <div class="field col-12 md:col-12">
            <button pButton pRipple label="Update Profile" (click)="displayProfile=false"
                class="w-full p-3 p-button-rounded text-xl" routerLink="../login"></button>

        </div>
    </div>
</p-dialog>


<p-dialog header="Update Profile Details" [(visible)]="displayDetail" modal="modal" showEffect="fade"
    [style]="{width: '60vw'}" [breakpoints]="{'960px': '75vw'}">

    <div class="p-fluid p-formgrid grid mt-2">

        <div class="field col-12 md:col-4">
            <label htmlFor="mobile">Mobile <span class="mandatory">*</span></label>
            <input pInputText id="mobile" type="number" placeholder="Enter Mobile Number*" />
        </div>

        <div class="field col-12 md:col-4">
            <label htmlFor="mobile">Landline No. <span class="mandatory">*</span></label>
            <input pInputText id="mobile" type="number" placeholder="Enter Landline No.*" />
        </div>

        <div class="field col-12 md:col-4">
            <label htmlFor="email">Primary Email <span class="mandatory">*</span></label>
            <input pInputTextarea id="email" type="email" placeholder="Primary Email Address*" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="email">Secondary Email <span class="mandatory">*</span></label>
            <input pInputTextarea id="email" type="email" placeholder="Secondary Email Address*" />
        </div>

        <div class="field col-12 md:col-4">
            <label htmlFor="city">City <span class="mandatory">*</span></label>
            <input pInputText id="city" type="text" placeholder="Enter your city*" />
        </div>
        <div class="field col-12 md:col-4">
            <label htmlFor="country">Country <span class="mandatory">*</span></label>
            <input pInputText id="country" type="text" placeholder="Enter your country*" />
        </div>

        <div class="field col-12 md:col-4">
            <label htmlFor="postalcode">Postal Code <span class="mandatory">*</span></label>
            <input pInputText id="postalcode" type="text" placeholder="Enter Postal Code*" />
        </div>

        <div class="field col-12 md:col-4">
            <label htmlFor="address">Address <span class="mandatory">*</span></label>
            <input pInputText id="address" type="text" placeholder="Enter your address*" />
        </div>

        <div class="field col-12 md:col-12">
            <button pButton pRipple label="Update Details" (click)="displayDetail=false"
                class="w-full p-button-rounded p-3 text-xl" routerLink="../login"></button>

        </div>
    </div>
</p-dialog>