<div class="grid">
    <div class="col-12 lg:col-12 xl:col-12">

        <div class="formgroup-inline card">
            <h5 class="field col-12">Account Details</h5>

            <div class="field col-5">
                <h6><i class="pi pi-credit-card mr-1"></i>Account Name</h6>
                <span>+92 306 33 500 87</span>
            </div>

            <div class="field col-5">
                <h6><i class="pi pi-shield mr-1"></i>Bank Sort Code</h6>
                <span>+92 306 33 500 87</span>
            </div>

            <div class="field col-5">
                <h6><i class="pi pi-money-bill mr-1"></i>Bank Account</h6>
                <span>yasir@gmail.com</span>
            </div>

            <div class="field col-5">
                <h6><i class="pi pi-user-plus mr-1"></i>Reference</h6>
                <span>subcontractor@gmail.com</span>
            </div>

            <div class="col-12">
                <button pButton pRipple type="button" icon="pi pi-pencil" label="Edit"
                    class="w-full p-button-rounded p-button-outlined mt-2 mr-2 mb-2"
                    (click)="displayBankAccount=true"></button>
            </div>
        </div>

    </div>
</div>

<p-dialog header="Update Bank Details" [(visible)]="displayBankAccount" modal="modal" showEffect="fade"
    [style]="{width: '60vw'}" [breakpoints]="{'960px': '75vw'}">

    <div class="p-fluid p-formgrid grid mt-2">

        <div class="field col-12 md:col-6">
            <label htmlFor="address">Account Name <span class="mandatory">*</span></label>
            <input pInputText id="address" type="text" placeholder="Enter Account Name*" />
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="address">Bank Sort Code <span class="mandatory">*</span></label>
            <input pInputText id="address" type="text" placeholder="Enter Bank Sort Code*" />
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="address">Bank Account <span class="mandatory">*</span></label>
            <input pInputText id="address" type="text" placeholder="Enter Bank Account*" />
        </div>

        <div class="field col-12 md:col-6">
            <label htmlFor="address">Reference <span class="mandatory">*</span></label>
            <input pInputText id="address" type="text" placeholder="Enter Reference*" />
        </div>


        <div class="field col-12 md:col-12">
            <button pButton pRipple label="Update Bank Details" (click)="displayBankAccount=false"
                class="w-full p-button-rounded p-3 text-xl" routerLink="../login"></button>

        </div>
    </div>
</p-dialog>