<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5><i class="pi pi-users text-xl mr-2"></i>Manage Subcontractors</h5>
            <p-toast></p-toast>

            <p-toolbar styleClass="mb-4">     
                <ng-template pTemplate="left">                
                    <div class="my-2">
                        <button pButton pRipple label="Add New" icon="pi pi-users" class="p-button-success mr-2"
                        (click)="openNew()"></button>

                        <button pButton pRipple label="Approve" icon="pi pi-check-circle" class="mr-2"
                            (click)="openNew()"  [disabled]="!selectedProducts || !selectedProducts.length"></button>

                            <button pButton pRipple label="Block" icon="pi pi-exclamation-triangle" class="p-button-warning mr-2"
                            (click)="openNew()"  [disabled]="!selectedProducts || !selectedProducts.length"></button>

                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedProducts()"
                            [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                        (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="products" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">List of subcontractors</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="code">Postal Code <p-sortIcon field="code"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="price">Email <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th pSortableColumn="category">Mobile <p-sortIcon field="category"></p-sortIcon>
                        </th>
                        <!-- <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon>
                        </th> -->
                        <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                        <th pSortableColumn="inventoryStatus">Action <p-sortIcon field="inventoryStatus"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Code</span>
                            {{product.code || product.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{product.name}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [src]="'assets/demo/images/product/' + product.image" [alt]="product.name" width="100"
                                class="shadow-4" />
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">Price</span>
                            {{product.price | currency:'USD'}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Category</span>
                            {{product.category}}
                        </td>
                        <!-- <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Reviews</span>
                            <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                        </td> -->
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [class]="'product-badge status-' + (product.inventoryStatus ? product.inventoryStatus.toLowerCase() : '')">{{product.inventoryStatus}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-eye"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editProduct(product)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteProduct(product)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Subcontractor Details" [modal]="true"
        class="p-fluid">

        <ng-template pTemplate="content">                

        <p-tabView orientation="left">
            <p-tabPanel header="Subcontractor Details" class="line-height-3 m-0">

                <div class="p-fluid p-formgrid grid mt-5">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="completename">Complete Name <span class="mandatory">*</span></label>
                        <input pInputText id="completename" type="text" placeholder="Enter completename*" />
                    </div>
                  
                    <div class="field col-6 md:col-6">
                        <label htmlFor="email">Email <span class="mandatory">*</span></label>
                        <input pInputTextarea id="email" type="email" placeholder="Enter Email Address*" />
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="mobile">Mobile <span class="mandatory">*</span></label>
                        <input pInputText id="mobile" type="number" placeholder="Enter Mobile Number*" />
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="postalcode">Post Code <span class="mandatory">*</span></label>
                        <input pInputText id="postalcode" type="text" placeholder="Enter Post Code*" />
                    </div>
                    <div class="field col-4 md:col-6">
                        <label htmlFor="address">Address <span class="mandatory">*</span></label>
                        <input pInputText id="address" type="text" placeholder="Enter your address*" />
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="city">City <span class="mandatory">*</span></label>
                        <input pInputText id="city" type="text" placeholder="Enter your city*" />
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="country">Country <span class="mandatory">*</span></label>
                        <input pInputText id="country" type="text" placeholder="Enter your country*" />
                    </div>

                    <div class="field col-6 md:col-6">
                        <label htmlFor="country">Radius want to cover<span class="mandatory">*</span></label>
                        <p-dropdown [options]="radious" [(ngModel)]="selectedDrop" placeholder="Select Radius" [showClear]="true"></p-dropdown>
                    </div>

                    <div class="field col-6 md:col-6">
                        <label htmlFor="firstname">Password <span class="mandatory">*</span></label>
                        <p-password id="password1" [(ngModel)]="password" placeholder="Password" [toggleMask]="true" styleClass="w-full"></p-password>
                    </div>
                    <div class="field col-6 md:col-6">
                        <label htmlFor="confirmpassword">Confirm Password <span class="mandatory">*</span></label>
                        <p-password type="password" id="confirmpassword" [(ngModel)]="confirmPassword" [toggleMask]="true" placeholder="Confirm Password" styleClass="w-full"></p-password>
                    </div>
                    <div class="field col-12 md:col-12">
                        <label htmlFor="skills">Select your core skill(s)<span class="mandatory">*</span></label>
                        <p-multiSelect [options]="skills" [(ngModel)]="selectedSkills" defaultLabel="Select the Skills*"
                            optionLabel="name" class="multiselect-custom">
                            <ng-template let-value pTemplate="selectedItems">
                                <div class="country-item country-item-value inline-flex align-items-center py-1 px-2 bg-primary text-primary border-round mr-2"
                                    *ngFor="let option of selectedSkills">
                                    <div>{{option.name}}</div>
                                </div>
                                <div *ngIf="!selectedMulti || selectedMulti.length === 0" class="country-placeholder">
                                    Select your Skills here
                                </div>
                            </ng-template>
                            <ng-template let-skill pTemplate="item">
                                <div class="flex align-items-center country-item">
                                    <div>{{skill.name}}</div>
                                </div>
                            </ng-template>
                        </p-multiSelect>
                    </div>                   

                                      <div class="field col-12 md:col-12">
                        <button pButton pRipple label="Sign Up" class="w-full p-3 text-xl" routerLink="../login"></button>

                    </div>
                </div>
            </p-tabPanel>                

     
        </p-tabView>                   
        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="saveProduct()"></button>
        </ng-template>
    </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="product">Are you sure you want to delete <b>{{product.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteProductsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>